Debug/
Release/
x64_Debug/
x64_Release/
test/
My*/
*.user
*.suo
*.ncb
*.aps
*.pdb
*.ipdb
*.res
*.dat
*.manifest
*.map
*.dep
*.idb
*.ilk
*.htm
*.exp
*.lib
*.obj
*.iobj
*.dll*
*.exe
*.avs
*.mkv
*.mp4
*.y4m
*.yuv
*.log
*.bak
*.o
*.a
*.so
*.cd
*.sdf
*.opensdf
*.depend
version.h
*.pc
*.mak
*.so.*
config.h
