# New Input File Format is as follows
# <ParameterName> = <ParameterValue> # Comment
# See configfile.h for a list of supported ParameterNames

##########################################################################################
# Files
##########################################################################################
InputFile               = "E:\Seq\BasketballPass_416x240_50.yuv"    # Input sequence, YUV 4:2:0 
FramesToBeEncoded       = 30            # Number of frames to be coded
SourceWidth             = 416           # Image width  in Pels
SourceHeight            = 240           # Image height in Pels
fps                     = 50.0          # framerate, AVS2 supported: 23.976(24000/1001), 24.0, 25.0(default), 29.97(30000/1001), 30.0, 50.0, 59.94(60000/1001), 60.0
ChromaFormat            = 1             # chroma format, 1=4:2:0 (default, the only supported format for the standard), 0=4:0:0, 2=4:2:2
InputSampleBitDepth     = 8             # Source bit depth (8 bit or 10 bit for all components)
SampleBitDepth          = 8             # Internal coding bit depth (8 bit or 10 bit for all components)
ReconFile               = "test_rec.yuv"
OutputFile              = "test.avs"

##########################################################################################
# Maximum Size
##########################################################################################
MaxSizeInBit            = 6             # Maximum CU size

##########################################################################################
# Encoder Control
##########################################################################################
ProfileID               = 32            # Profile ID (18: MAIN PICTURE profile, 32: MAIN profile, 34: MAIN10 profile)
LevelID                 = 66            # Level ID   (16: 2.0;  32: 4.0;  34: 4.2;  64: 6.0;  66: 6.2)
IntraPeriodMin          = 48            # min Period of I-Frames (0=only first)
IntraPeriodMax          = 48            # max Period of I-Frames (0=only first)
OpenGOP                 = 1             # Open GOP
UseHadamard             = 1             # Hadamard transform (0=not used, 1=used)
FME                     = 3             # Fast Motion Estimation method (1: DIA, 2: HEX 3: UMH, 4: TZ)
SearchRange             = 64            # Max search range
NumberReferenceFrames   = 4             # Number of previous frames used for inter motion search (1-5)
inter_2PU               = 1             # Inter block search 2NxN or Nx2N or AMP (0=disable, 1=enable)
inter_AMP               = 1             # Inter block search  AMP  (0=disable, 1=enable)

##########################################################################################
# F Frames
##########################################################################################
FFRAMEEnable            = 1             # (0: Don't use F frames  1:Use F frames instead of P frames)
DHPEnable               = 1             # (0: Don't use DHP,      1:Use DHP) 
MHPSKIPEnable           = 1             # (0: Don't use MH_PSKIP, 1:Use MH_PSKIP) 
WSMEnable               = 1             # (0: Don't use WSM,      1:Use WSM) 

##########################################################################################
# RD Optimization 
##########################################################################################
RdoLevel                = 3             # RD-optimized mode decision (0:off, 1: only for best partition mode of one CU, 2: only for best 2 partition modes; 3: All partition modes)

##########################################################################################
# Coding Tools
##########################################################################################
PMVREnable              = 1             #
NSQT                    = 1             #
SDIP                    = 1             #
SECTEnable              = 1             # (0: Not use Secondary Transform,      1:Use Secondary Transform)

##########################################################################################
# Loop filter parameters
##########################################################################################
CrossSliceLoopFilter    = 1             # Enable Cross Slice Boundary Filter (0=Disable, 1=Enable)

LoopFilterDisable       = 0             # Disable loop filter in picture header (0=Filter, 1=No Filter)  
LoopFilterParameter     = 0             # Send loop filter parameter (0= No parameter, 1= Send Parameter)  
LoopFilterAlphaOffset   = 0             # Aplha offset in loop filter
LoopFilterBetaOffset    = 0             # Beta offset in loop filter

SAOEnable               = 1             # Enable SAO (1=SAO on, 0=SAO OFF)
ALFEnable               = 1             # Enable ALF (1=ALF on, 0=ALF OFF)
ALF_LowLatencyEncodingEnable = 0        # Enable Low Latency ALF (1=Low Latency ALF, 0=High Efficiency ALF)

##########################################################################################
# Reference Picture Manage
##########################################################################################
gop_size                = 8             # sub GOP size (negative numbers indicating an employ of default settings, which will invliadate the following settings.)
NumberBFrames           = 7             # Number of B frames inserted (0=not used)
#        POC  QPoffset  #ref_pics_active  ref_pic  reference_pictures  predict_deltaRPS  num_ref_be_removed  ref_be_removed
Frame1:  8    1         4                 1        8 3 7 16            0                 2                   16 17
Frame2:  4    1         2                 1        1 9                 0                 1                   4
Frame3:  2    2         2                 1        1 10                0                 1                   9
Frame4:  1    4         2                 0        1 11                0                 0
Frame5:  3    4         2                 0        3 2                 0                 0
Frame6:  6    2         2                 1        5 4                 0                 0
Frame7:  5    4         2                 0        1 5                 0                 1                   4
Frame8:  7    4         2                 0        7 2                 0                 0

########################################################################################
# Frequency Weighting Quantization
########################################################################################
WQEnable                = 0             # Frequency Weighting Quantization (0=disable,1=enable)
# SeqWQM                  = 0             # (0:default, 1:user define)
# SeqWQFile               = "seq_wq_matrix.txt"
# 
# PicWQEnable             = 0             # Frame level Frequency Weighting Quantization (0=disable,1=enable)
# WQParam                 = 0             # Weighting Quantization Parameter(0=Default, 1=UnDetailed, 2=Detailed)
# PicWQDataIndex          = 1             # Picture level WQ data index (0:refer to seq_header, 
#                                         #                              1:derived by WQ parameter, 
#                                         #                              2:load from pic_header)
# PicWQFile               = "pic_wq_matrix.txt"
# WQModel                 = 1             # Frequency Weighting Quantization Model (0-2)
# WeightParamDetailed     = "[128,98,106,116,116,128]"   # User defined Parameters-Detailed
# WeightParamUnDetailed   = "[135,143,143,160,160,213]"  # User defined Parameters-UnDetailed
# 
# ChromaDeltaQPDisable    = 1             # 1: Chroma Delta QP disable; 0: Chroma Delta QP enable
# ChromaDeltaU            = 0             # Chroma component U delta QP
# ChromaDeltaV            = 0             # Chroma component V delta QP

###################Encoder Optimization Tools#############################################
########################################################################################
#RDOQ
########################################################################################
RdoqLevel               =   2           # (0: off, 1: cu level, only for best partition mode, 2: all mode)
LambdaFactor            =  75           # 
LambdaFactorP           = 120           # 
LambdaFactorB           = 100           # 

########################################################################################
#Refine QP (Only used at RA configuration)
########################################################################################
RefineQP                = 1             # Enable refined quantization

##########################################################################################
# TDRDO (Only used at LD configuration)
##########################################################################################
TDRDOEnable             = 0             # (0: default disable Block level TDRDO, 1: enable when LD encoding)

##########################################################################################
#RATECONTROL
##########################################################################################
RateControl             = 0             # 0: CQP, 1: CBR (frame level), 2: CBR (SCU level), 3: VBR
TargetBitRate           = 1000000       # target bitrate, in bps
initial_qp              = 34            # initial qp for first frame (0-63)
min_qp                  = 20            # min qp for rate control    (0-63)
max_qp                  = 55            # max qp for rate control    (0-63)

# ----------------------------------------------------------------------------
# preset level
# ----------------------------------------------------------------------------
preset_level            = 8             # preset level for the tradeoff between speed and performance, ordered from fastest to slowest (default 5)

# ----------------------------------------------------------------------------
# slices
# ----------------------------------------------------------------------------
slice_num               = 1             # number of slices per frame

# ----------------------------------------------------------------------------
# parallel
# ----------------------------------------------------------------------------
num_parallel_gop        = 1             # number of parallel GOPs (0,1: no GOP parallelization)
thread_frames           = 1             # number of parallel threads for frames ( 0: auto )
thread_rows             = 1             # number of parallel threads for rows   ( 0: auto )

# ----------------------------------------------------------------------------
# log level
# ----------------------------------------------------------------------------
log_level               = 3             # log level: -1: none, 0: error, 1: warning, 2: info, 3: debug
